body {
	background-color: transparent;
}

.issue-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0.5rem 0.75rem;
    border-radius: 5px;
}
#issue-title {
	padding: 0.5rem 0.75rem;
}

.issue-select {
    display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 4px 0.6em;
    border-radius: 5px;
}

.input-control {
    margin-top: 8px;
    display: flex;
    row-gap: 8px;
}

.add-issue-button {
    display: block;
	border: none;
	margin: 8px auto;
    border-radius: 5px;
}

.label {
    display: block;
	font-weight: 400;
	font-size: 1.25rem;
    margin-bottom: 4px;
}